{
  "openapi": "3.0.0",
  "info": {
    "version": "v1",
    "title": "authorizations",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "contact": {
      "name": "OCM Feedback",
      "email": "ocm-feedback@redhat.com"
    }
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.openshift.com"
    },
    {
      "description": "Stage",
      "url": "https://api.stage.openshift.com"
    }
  ],
  "paths": {
    "/api/authorizations/v1": {
      "get": {
        "description": "Retrieves the version metadata.\n",
        "responses": {
          "200": {
            "description": "Success.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "default": {
            "description": "Error.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/access_review": {
      "post": {
        "description": "Reviews a user's access to a resource\n",
        "parameters": [
          
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/export_control_review": {
      "post": {
        "description": "Screens a user by account user name.\n",
        "parameters": [
          
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportControlReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportControlReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/resource_review": {
      "post": {
        "description": "Returns the list of identifiers of the resources that an account can\nperform the specified action upon.\n",
        "parameters": [
          
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceReview"
                }
              }
            }
          },
          "default": {
            "description": "Error.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/self_access_review": {
      "post": {
        "description": "Reviews a user's access to a resource\n",
        "parameters": [
          
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfAccessReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfAccessReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Metadata": {
        "description": "Version metadata.\n",
        "properties": {
          "server_version": {
            "description": "Version of the server.\n",
            "type": "string"
          }
        }
      },
      "AccessReviewRequest": {
        "description": "Representation of an access review\n",
        "properties": {
          "account_username": {
            "description": "Defines the username of the account of which access is being reviewed\n",
            "type": "string"
          },
          "action": {
            "description": "Indicates the action, one of: [get,list,create,delete,update]\n",
            "type": "string"
          },
          "cluster_id": {
            "description": "Indicates which Cluster (internal id) the resource type belongs to\n",
            "type": "string"
          },
          "cluster_uuid": {
            "description": "Indicates which Cluster (external id) the resource type belongs to\n",
            "type": "string"
          },
          "organization_id": {
            "description": "Indicates which Organization the resource type belongs to\n",
            "type": "string"
          },
          "resource_type": {
            "description": "Indicates the type of the resource an action would be taken on.\nSee uhc-account-manager/openapi/openapi.yaml for a list of possible values\n",
            "type": "string"
          },
          "subscription_id": {
            "description": "Indicates which Subscription the resource type belongs to\n",
            "type": "string"
          }
        }
      },
      "AccessReviewResponse": {
        "description": "Representation of an access review response\n",
        "properties": {
          "account_username": {
            "description": "Defines the username of the account of which access is being reviewed\n",
            "type": "string"
          },
          "action": {
            "description": "Indicates the action, one of: [get,list,create,delete,update]\n",
            "type": "string"
          },
          "allowed": {
            "description": "Defines whether the action on the specified resource type is allowed\n",
            "type": "boolean"
          },
          "cluster_id": {
            "description": "Indicates which Cluster (internal id) the resource type belongs to\n",
            "type": "string"
          },
          "cluster_uuid": {
            "description": "Indicates which Cluster (external id) the resource type belongs to\n",
            "type": "string"
          },
          "organization_id": {
            "description": "Indicates which Organization the resource type belongs to\n",
            "type": "string"
          },
          "resource_type": {
            "description": "Indicates the type of the resource an action would be taken on.\nSee uhc-account-manager/openapi/openapi.yaml for a list of possible values\n",
            "type": "string"
          },
          "subscription_id": {
            "description": "Indicates which Subscription the resource type belongs to\n",
            "type": "string"
          }
        }
      },
      "ExportControlReviewRequest": {
        "properties": {
          "account_username": {
            "type": "string"
          }
        }
      },
      "ExportControlReviewResponse": {
        "properties": {
          "restricted": {
            "type": "boolean"
          }
        }
      },
      "ResourceReview": {
        "description": "Contains the result of performing a resource access review.\n",
        "properties": {
          "account_username": {
            "description": "Name of the account that is trying to perform the access.\n",
            "type": "string"
          },
          "action": {
            "description": "Action that will the user is trying to perform.\n",
            "type": "string"
          },
          "cluster_ids": {
            "description": "Identifiers of the Clusters (internal ids) that the user has permission to perform the action upon.\n",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cluster_uuids": {
            "description": "Identifiers which Clusters (external ids) that the user has permission to perform the action upon.\n",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "organization_ids": {
            "description": "Identifiers of the organizations that the user has permissions to perform the action\nupon.\n",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "resource_type": {
            "description": "Type of resource.\n",
            "type": "string"
          },
          "subscription_ids": {
            "description": "Identifiers of the subscriptions that the user has permission to perform the action upon.\n",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ResourceReviewRequest": {
        "description": "Request to perform a resource access review.\n",
        "properties": {
          "account_username": {
            "description": "Name of the account that is trying to access the resource.\n",
            "type": "string"
          },
          "action": {
            "description": "Action that will be performed on the resource.\n",
            "type": "string"
          },
          "resource_type": {
            "description": "Type of resource.\n",
            "type": "string"
          }
        }
      },
      "SelfAccessReviewRequest": {
        "description": "Representation of an access review performed against oneself\n",
        "properties": {
          "action": {
            "description": "Indicates the action, one of: [get,list,create,delete,update]\n",
            "type": "string"
          },
          "cluster_id": {
            "description": "Indicates which Cluster (internal id) the resource type belongs to\n",
            "type": "string"
          },
          "cluster_uuid": {
            "description": "Indicates which Cluster (external id) the resource type belongs to\n",
            "type": "string"
          },
          "organization_id": {
            "description": "Indicates which Organization the resource type belongs to\n",
            "type": "string"
          },
          "resource_type": {
            "description": "Indicates the type of the resource an action would be taken on.\nSee uhc-account-manager/openapi/openapi.yaml for a list of possible values\n",
            "type": "string"
          },
          "subscription_id": {
            "description": "Indicates which Subscription the resource type belongs to\n",
            "type": "string"
          }
        }
      },
      "SelfAccessReviewResponse": {
        "description": "Representation of an access review response, performed against oneself\n",
        "properties": {
          "action": {
            "description": "Indicates the action, one of: [get,list,create,delete,update]\n",
            "type": "string"
          },
          "allowed": {
            "description": "Defines whether the action on the specified resource type is allowed\n",
            "type": "boolean"
          },
          "cluster_id": {
            "description": "Indicates which Cluster (internal id) the resource type belongs to\n",
            "type": "string"
          },
          "cluster_uuid": {
            "description": "Indicates which Cluster (external id) the resource type belongs to\n",
            "type": "string"
          },
          "organization_id": {
            "description": "Indicates which Organization the resource type belongs to\n",
            "type": "string"
          },
          "resource_type": {
            "description": "Indicates the type of the resource an action would be taken on.\nSee uhc-account-manager/openapi/openapi.yaml for a list of possible values\n",
            "type": "string"
          },
          "subscription_id": {
            "description": "Indicates which Subscription the resource type belongs to\n",
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will always be 'Error'\n",
            "type": "string"
          },
          "id": {
            "description": "Numeric identifier of the error.\n",
            "type": "integer",
            "format": "int32"
          },
          "href": {
            "description": "Self link.\n",
            "type": "string"
          },
          "code": {
            "description": "Globally unique code of the error, composed of the unique identifier of the API and the numeric identifier of the error. For example, for if the numeric identifier of the error is `93` and the identifier of the API is `clusters_mgmt` then the code will be `CLUSTERS-MGMT-93`.\n",
            "type": "string"
          },
          "reason": {
            "description": "Human readable description of the error.\n",
            "type": "string"
          },
          "details": {
            "description": "Extra information about the error.\n",
            "type": "object",
            "additionalProperties": "true"
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearer": [
        
      ]
    }
  ]
}