# {{ .Title }}

## Table of Contents

{{- range $sk, $s := .Sections }}
- [{{ $s.Name }}](#{{ $s.Name }})
{{- end }}

{{ range $sk, $s := .Sections }}

## {{ $s.Name }}
{{ $s.Description }}
    {{- range $ok, $o := $s.Options }}

### `{{ $o.Variable }}`

- {{ $o.Description }}
- Type: `{{ $o.Type }}`
{{- if $o.DefaultValue }}
- Default: `{{ $o.DefaultValue }}`
{{- end }}
{{- end }}
{{- end }}
